<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Huong Lan</string>
		<key>measure</key>
		<string>90-52-90</string>
		<key>photo</key>
		<string>huonglan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Huong Nhi</string>
		<key>measure</key>
		<string>92-55-89</string>
		<key>photo</key>
		<string>huongnhi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mai Anh</string>
		<key>measure</key>
		<string>91-53-93</string>
		<key>photo</key>
		<string>maianh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mai Trang</string>
		<key>measure</key>
		<string>91-53-92</string>
		<key>photo</key>
		<string>maitrang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>My Linh</string>
		<key>measure</key>
		<string>91-53-90</string>
		<key>photo</key>
		<string>mylinh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phong Lan</string>
		<key>measure</key>
		<string>91-53-86</string>
		<key>photo</key>
		<string>phonglan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phuong Nhung</string>
		<key>measure</key>
		<string>97-54-88</string>
		<key>photo</key>
		<string>phuongnhung</string>
	</dict>
</array>
</plist>
